<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKEND_BASE_URL</key>
	<string>$(BACKEND_BASE_URL)</string>
	<key>WECHAT_APP_ID</key>
	<string>$(WECHAT_APP_ID)</string>
	<key>WECHAT_UNIVERSAL_LINK</key>
	<string>$(WECHAT_UNIVERSAL_LINK)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(WECHAT_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
</dict>
</plist>